/* variables del proyecto */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
:root{
    /* anchura para la version desktop */
    --max-width:1120px;

    /* Colores */
    --text-color:#F8F8F8;
    --black:#0D0D0D;
    --black-opactiy:#0D0D0D80;
    --primary-color:#BF4136;
    --secundary-color:#3B5659;
    --third-color:#D9A59A;
    --forth-color:#BF8173;
    /* Fuentes */
    --text:'Raleway',sans-serif;
    /* Tamaños de fuentes */
    --h1-size:2.3rem;
    --h2-size:2.125rem;
    --h3-size:1.625rem;
    --h4-size:1.25rem;
    --normal-font-size:0.9375rem;
    --small-font-size:0.625rem;
    /* espacio entre pagina web */
    --top-page:1rem;
      /* Capas */
    --z-back       : -10;
    --z-normal     : 1;
    --z-front      : 10;
    --z-tooltip    : 20;
    --z-overlay    : 30;
    --z-modal      : 40;
    --z-fixed      : 50;
    --z-off-canvas : 100;

   
}
@media screen and(min-width:1024px) {
    /* Variables para el tamaño escritorio */
    :root{
        --h1-size:3.125rem;
        --h2-size:2.625rem;
        --h3-size:2.25rem;
        --h4-size:1.875rem;
        --normal-font-size:0.9375rem;
        --small-font-size:0.625rem;
    }
}
/* reseteo de estilos */
a{
    text-decoration: none;
    position: relative;
}
/* configuracion del body */

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* background */
.section-one{
    display: flex;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    flex-direction: column;
}
.section-one::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/hospital-bg.jpg');
    background-size: cover;
    filter: brightness(0.75);
    background-repeat: no-repeat;
}
/* contenedor */
.title{
    margin-top: var(--top-page);
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* iconos de redes sociales */
.fa {
    padding: 0.5rem;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/* creacion del libro */
.book-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    height: 75vh;
    justify-content: center;
}
.book{
    margin-top: 1.5rem;
    display: flex;
    background-image: url('../images/Libro.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--max-width);
    height: 450px;
    align-items: center;
}
.book-text{
    width: calc(var(--max-width)/2);
    margin: 0 2.25rem;
    line-height: 1.75rem;
    color: var(--black);
}
.buttom{
    margin: 2rem auto 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: var(--text);
    font-family: var(--text);
    background-color: var(--primary-color);
    color: var(--text-color);
}
.bottom:hover{
    background-color: #BF4136E0;
}
/* texto de cabecera */
.title-page{
    font-weight: 800;
    font-size: var(--h1-size);
    color: var(--text-color);
    font-family: var(--text);
}
.title-decription{
    line-height: 1.4;
    width: 50%;
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-family: var(--text);
}
.text-objetive{
    font-weight: 800;
    font-size: var(--h4-size);
    color: var(--text-color);
    font-family: var(--text);
}
/* enigma 1 */
.enigma-1{
  display: flex;  
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.container{
  width: 61.25rem;
  height: 33,125rem;
}
.enigma-1-imagen{
  width: inherit;
  height: inherit;
}
.box-1{
    background-color: yellow;
    position: absolute;
    height: 3.125rem;
    width: 6.25rem;
    top: 40%;
    right: 32%;
}
.box-2{
  background-color: yellow;
  position: absolute;
  height: 3.125rem;
  width: 6.25rem;
  top: 65%;
  right: 25%;
}
.box-3{
  background-color: yellow;
  position: absolute;
  height: 3.125rem;
  width: 3.25rem;
  top: 75%;
  right: 41%;
}
/* configuracion de los click points */
.modal{
    display: none;
    position: absolute;
    width: 45rem;
    height: 25rem;
    top: 20%;
    background-color: var(--black-opactiy);
}
.modal-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 3.125rem;
    align-items: center;
}
.modal-img{
    position: relative;
    width: 50%;
}
.modal-decription{
    color: var(--text-color);
    font-size: var(--h4-size);
    font-family: var(--text);
}